* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 938px) {
  .navbar {
    flex-direction: column;
  }

  .banner {
    white-space: nowrap;
  }

  .bookContainer {
    flex-direction: column;
    width: 90% !important;
  }

  .bookCard {
    width: 100% !important;
  }

  #footerContainer {
    width: 90% !important;
  }

  #copyright {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    width: 90% !important;
  }

  #menu {
    flex-direction: column;
    align-items: center !important;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #2a2c2e;
}

.box {
  border: 1px solid red;
  min-height: 50px;
  padding: 20px;
}

a {
  text-decoration: none;
  font-size: 16px;
}

.cta {
  background-color: #f4ce47;
  color: rgba(0, 0, 0, 0.87);
  padding: 16px 28px;
  border-radius: 16px;
  font-weight: 600;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 70%;
  gap: 16px;
  align-items: center;
  background: white;
  padding: 20px 24px;
  border-radius: 20px;
}

#logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
  padding: 0;
}

#menu {
  display: flex;
  gap: 16px;
  align-items: baseline;
}

#menu a {
  font-size: 16px;
}

#menu a:hover {
  font-weight: bold;
}

.ctaContainer {
  display: flex;
  gap: 16px;
}

.ctaIcon {
  display: flex;
  align-items: center;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 12px;
  background-color: #f4ce47;
  width: 100%;
}

.banner a {
  font-size: 2em;
  color: #f4ba30;
}

.banner .active {
  color: #2a2c2e;
}

.bookContainer {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  width: 70%;
}

.bookCard {
  display: flex;
  flex-direction: column;
  min-width: 10%;
  width: 30%;
  height: auto;
  min-height: 150px;
  background: white;
  border-radius: 20px;
  padding: 24px;
  gap: 16px;
}

.bookCard img {
  width: 100%;
  border-radius: 12px;
}

.bookInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.author {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.title {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  height: 48px;
}

.bookRating {
  display: flex;
  gap: 8px;
}

.bookRating div {
  display: flex;
  padding: 8px 12px;
  border: 1px solid rgba(0, 0, 0, 0.87);
  border-radius: 999px;
  gap: 4px;
  align-items: center;
  height: 32px;
}

.bookRating p {
  font-size: 12px;
}

.bookRating img {
  width: 16px;
}

.bookPrice {
  display: flex;
  gap: 8px;
  font-size: 18px;
}

.bookPrice p:first-child {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.38);
}

.hidden {
  display: none;
}

#footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

#footer {
  display: flex;
  background-color: rgba(0, 0, 0, 0.38);
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 20px 24px;
  border-radius: 20px 20px 0 0;
}

#social {
  display: flex;
  gap: 16px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}

#copyright {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: rgba(0, 0, 0, 0.87);
}

#copyright div {
  display: flex;
  gap: 16px;
}

#copyright a {
  color: #c2c2c2;
  font-size: 12px;
}
