body {
  font-family: Arial, Helvetica, sans-serif;
  background: #2a2c2e;
}

.box {
  border: 1px solid red;
  min-height: 50px;
  padding: 20px;
}

a {
  text-decoration: none;
  font-size: 16px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 12px;
  background-color: #f4ce47;
  width: 100%;
}

.banner a {
  font-size: 2em;
  color: #2a2c2e;
}

.book {
  min-width: 20%;
  min-height: 150px;
}

.cta {
  background-color: #f4ce47;
  color: rgba(0, 0, 0, 0.87);
  padding: 16px 28px;
  border-radius: 16px;
  font-weight: 600;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 72 px;
  width: 70%;
  gap: 16px;
  align-items: center;
  background: white;
  padding: 20px 24px;
  border-radius: 20px;
}

#logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
  padding: 0;
}

#menu {
  display: flex;
  gap: 16px;
  height: 24px;
  align-items: center;
}

#menu a {
  height: 24px;
}
